<a href="https://colab.research.google.com/github/meganflinders/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization2_h5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [22]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
application_df = application_df.drop(columns=['EIN', 'NAME', 'USE_CASE', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,0,5000,1
1,T3,Independent,C2000,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,Association,0,5000,0
3,T3,CompanySponsored,C2000,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Trust,100000-499999,142590,1

In [24]:
application_type_values = application_df['APPLICATION_TYPE'].value_counts()
application_type_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
application_types_to_replace = application_type_values[application_type_values < 1000].index

for app in application_types_to_replace:
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [26]:
classification_values = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_values[classification_values < 1000].index

for cls in classifications_to_replace:
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,'Other')

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [27]:
preprocessed_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION', 'ORGANIZATION', 'INCOME_AMT'])
preprocessed_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [28]:
y = preprocessed_df['IS_SUCCESSFUL']
X = preprocessed_df.drop(columns='IS_SUCCESSFUL')

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [30]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

In [31]:
X_train_scaled =X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=32, activation='relu', input_dim = 32))
nn.add(tf.keras.layers.Dropout(0.2))
#nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))
nn.add(tf.keras.layers.Dense(units=128, activation='relu'))
#nn.add(tf.keras.layers.Dense(units=128, activation='relu'))
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 32)                1056

 dropout_5 (Dropout)         (None, 32)                0

 dense_20 (Dense)            (None, 64)                2112

 dense_21 (Dense)            (None, 128)               8320

 dense_22 (Dense)            (None, 1)                 129

=================================================================
Total params: 11,617
Trainable params: 11,617
Non-trainable params: 0
_________________________________________________________________

In [45]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [46]:
trained_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5877 - accuracy: 0.7075
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5698 - accuracy: 0.7199
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5665 - accuracy: 0.7221
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5646 - accuracy: 0.7226
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5630 - accuracy: 0.7224
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7243
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7255
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7236
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7239
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5595 - accuracy: 0.7251
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5588 - accuracy: 0.7251
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7251
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5586 - accuracy: 0.7250
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - accuracy: 0.7249
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7254
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7249
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7253
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7260
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7260
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7265
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7263
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7262
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7251
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5572 - accuracy: 0.7251
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7255
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7277
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7263
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7276
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7252
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7274
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5557 - accuracy: 0.7262
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7256
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7269
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7259
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7265
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7271
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7275
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7272
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7270
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7278
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7273
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7269
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7265
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7279
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7273
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7265
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7287
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7290
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7268
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7273
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7273
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7280
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7268
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7278
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7280
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7285
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7282
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7274
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5535 - accuracy: 0.7278
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7274
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7281
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7275
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7293
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7296
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7282
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7285
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7274
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7265
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7282
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7280
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7281
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7272
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5531 - accuracy: 0.7276
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7289
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7274
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7275
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7273
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7273
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7282
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5517 - accuracy: 0.7291
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7287
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7288
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7273
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7275
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7285
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7276
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5530 - accuracy: 0.7285
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7287
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7301
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7294
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7286
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7278
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7282
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5527 - accuracy: 0.7285
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7292
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7295
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7287
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7282
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7280
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7282

In [47]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5598 - accuracy: 0.7256 - 463ms/epoch - 2ms/step
Loss: 0.5597580671310425, Accuracy: 0.7255976796150208

In [48]:
nn.save('AlphabetSoupCharity_Optimization2.h5')